.wrapper{
    border: 2px solid black;
    margin-left: 30px;
}
h4{
    text-align: center;
}
button{ 
    display:block;
    margin: auto;
    border: 1px solid rgba(109, 109, 255, 0.705);
}
.select{
    background-color: rgb(45, 255, 63);
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
}
.delete{
    background-color: red;
    border-radius: 5px;
    padding: 5px 23px;
}